<div class="w-100" id="customersGridContainer"></div>

<script type="text/javascript">
    window.MainUrl = "@Url.Content("~/")";
    var murl = window.MainUrl;
 </script>

<script src="~/js/customer-orders-dx.js"></script>


